
FRONTEND_URLS=http://localhost:3000,http://localhost:5173,http://localhost:4173

ADMIN_URL=http://localhost:5173


# LEBEL=trace
JWT_SECRET=""

# db

DB_HOST=localhost
DB_USER=""
DB_PASSWORD=""
DB_DATABASE=""
