{
    log {
        level INFO
    }
}

{$DOMAIN}, localhost {
    root * /usr/share/caddy
    encode gzip zstd

    file_server
    try_files {path} /index.html
    tls internal

    log {
        output stdout
        format console
    }
}

# localhost {
#     root * /usr/share/caddy
#     encode gzip zstd
#     file_server
#     try_files {path} /index.html

#     log {
#         output stdout
#         format console
#     }
# }